# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Puppetry

# Visual Studio
x64/
/x64/Debug/graphics_test.pdb
/备份/libs/glfw/include/GLFW
/备份3.2/libs/glfw/include/GLFW
/libs/stb/stb_image.h
/libs/math/linmath.h
/libs/glad/src/glad.c
/libs/glad/include/KHR/khrplatform.h
/libs/glad/include/glad/glad.h
/libs/glad/include/glad/gl.h
/graphics_test/data/Meursault.png
/Puppetry/x64/Debug/Puppetry.log
/enc_temp_folder/115c461cfc3f777e2f2b3452714b466
/libs/glm
/bin
/bin-int
*/lib